---
title: Press
id: 0
---
<article class="press-news-content">
               <h2>{{articles.posts.0.author.source}} -</h2>
               <h1>{{articles.posts.0.title}}</h1>
               <h3>{{articles.posts.0.author.name}} <time>{{articles.posts.0.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.posts.0.photo}}" alt="{{articles.posts.0.title}}" />
               </div>
               <p>Chinese real estate developer Greenland Group revealed plans Friday for a quick start on the first phase of its $1-billion Metropolis Los Angeles project that is expected to redefine the downtown skyline.</p>

<p>Work is set to begin shortly on a high-rise hotel and a residential skyscraper on what is now a vast parking lot along the 110 Freeway north of Staples Center and LA Live. The buildings should be open by 2016.</p>

<p>"Greenland USA is pleased to join the downtown Los Angeles community and to make one of the largest investments in downtown in recent history," Chief Executive Ifei Chang said in a statement.</p>

<p>"Our company has the experience, expertise and leadership to promote the dynamic, urban lifestyle that is growing in downtown Los Angeles," she said. "We look forward to making an immediate impact on its continued revitalization."</p>

<p>Greenland USA is a subsidiary of Greenland Group, a Shanghai developer that bought the 6.3-acre site last month for nearly $150 million.</p>

<p>Previous owners of the property between 8th and 9th streets got city approval for 1.65 million square feet of hotel, condominium, office and retail development on a block that links the financial district with LA Live and Staples Center.</p>

<p>As designed by architecture firm Gensler, the hotel is expected to be 19 stories tall with 350 rooms. Greenland has not identified an operator for the inn, but hopes it will earn a four-star rating. The residential tower is anticipated to be 38 stories high.</p>

<p>Greenland did not say whether the residences would be apartments or condominiums. Apartments are in high demand, but there is a growing shortage of for-sale housing in downtown L.A. Units could also be marketed to mainland Chinese investors.</p>

<p>Greenland Group was formed in 1992 to build green belts around Shanghai and has evolved into a Fortune Global 500 company with major developments in London, Seoul and Sydney, Australia. In December, Greenland agreed to become the majority owner-developer of the $4-billion Atlantic Yards residential complex planned in Brooklyn, N.Y.</p>

<p>"Founded 22 years ago, Greenland Group has expanded to more than 80 cities across China and is known as a leading developer of high-quality, high-rise residential buildings and urban complexes," Chairman Yuliang Zhang said. "International expansion, in particular in the U.S. market, is a strategic priority for us."</p>
               <br />
               <br />
                <a href="../press.html" class="back">Back to all News</a>
</article> 
<article class="press-news-preview next">
               <div class="thumbnail box-img hover-animation">
                      <img class="img" src="../images/press/img/{{articles.posts.1.photo}}" alt="{{articles.posts.1.title}}" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="../press/{{articles.posts.1.id2}}.html" title="{{articles.posts.1.title}}">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <a href="../press/{{articles.posts.1.id2}}.html" class="link">Read next</a>
               <h2>{{articles.posts.1.author.source}}  —</h2>
               <h1><a href="../press/{{articles.posts.1.id2}}.html">{{articles.posts.1.title}}</a></h1>
               <h3><time>{{articles.posts.1.fecha}}</time></h3>
               <p>{{articles.posts.1.short}}</p>
            </article>