---
title: Press
id: 10
---
<article class="press-news-content">
               <h2>{{articles.posts.10.author.source}} -</h2>
               <h1>{{articles.posts.10.title}}</h1>
               <h3>{{articles.posts.10.author.name}} <time>{{articles.posts.10.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.posts.10.photo}}" alt="{{articles.posts.10.title}}" />
               </div>
               
               <p>LOS ANGELES, Sept. 17, 2014 /PRNewswire/ -- This time every year, Lakers and Clippers tickets can move faster than a clutch player with a few seconds left on the clock.  Two blocks from Staples Center, a fast-moving star in the real estate arena is proving itself another hot ticket – Metropolis Los Angeles, the luxury high-rise development whose Phase I will finish construction in the fall of 2016, yet has already seen reservations for its first residential units cross the 40% mark.</p>
               <p>"With the recession finally behind us and residential construction ramping up again after close to five years, we are gratified to see strong demand for these condominium units, fueled by myriad features and amenities as well as its location at the heart of downtown L.A.'s vibrant sports, entertainment and cultural scene," stated Horacio LeDon, president of Douglas Elliman Development Marketing, the exclusive sales and marketing firm for Phase 1 of Metropolis Los Angeles.</p>
               <p>Metropolis is located on one of the largest undeveloped sites in downtown Los Angeles, and will finally synergize the Financial District with the Entertainment District while adding to the Los Angeles skyline and the vibrancy of the downtown scene.  Two blocks from Staples Center and LA Live, the project's initial 38-floor luxury residential tower includes 310 units – a breadth of studio, one, two, and penthouse three-bedroom condominiums – all with a host of features  and amenities along with expansive views of the city, mountains and coastline, offering a new standard for urban living.  Along with a planned retail component, a hotel for the project is also currently being finalized.</p>
               <p>Metropolis Los Angeles marks the first U.S. investment by Greenland USA, a subsidiary of Shanghai-based Greenland Holding Group, in partnership with award-winning architectural firms Gensler and SPAN Architecture, and luxury marketer Douglas Elliman Development Marketing.</p>


               <br />
               {{#if articles.posts.10.pdf.file}}<a href="{{articles.posts.10.pdf.file}}.html" class="link">Download PDF</a>{{/if}}
               <br />
               <a href="../press.html" class="back">Back to all News</a>
</article>
