---
title: Press
id: 2
---
<article class="press-news-content">
               <h2>{{articles.posts.5.author.source}} -</h2>
               <h1>{{articles.posts.5.title}}</h1>
               <h3>{{articles.posts.5.author.name}} <time>{{articles.posts.5.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.posts.5.photo}}" alt="{{articles.posts.5.title}}" />
               </div>
               <p>This past Valentine’s Day was another major, major milestone in Downtown LA’s continued march forward toward urban renewal and revitalization. The Metropolis project, which is a 6.3 acre development site (currently an ugly surface parking lot) on the western edge of downtown abutting the 110 freeway, held a ceremonial ground breaking event that finally secured the fate of the long-delayed project.</p>

<p>For those who have been following the history of the Metropolis project in Downtown LA, the project has had a frustrating track record of numerous false starts. Many of today’s downtown advocates wondered if Metropolis would ever really happen in our lifetimes. First proposed in the 1980s, the stalled Metropolis project has remained a surface parking lot for nearly three decades leaving an ugly scar on the Downtown LA landscape. Surface parking lots are for the car-oriented suburbs, not for an aspiring urban center with a goal to encourage mixed-use density and walkability.</p>

<p>IDS Real Estate Group purchased the Metropolis site back in 2005 and announced in 2011 that Metropolis <a href="http://brighamyen.com/2011/08/01/metropolis-mixed-use-project-slated-to-break-ground-in-2012-in-downtown-la/">was ready to break ground</a> after decades of seemingly endless dormancy. Unfortunately, the project was mired in financial uncertainty and thrown off course again this time by the recent Great Recession.</p>

<p>Thank goodness, with the economy improving and investors optimistic once again, the Metropolis project is finally, truly getting off the ground this time. Foreign capital to the rescue. Chinese developer Greenland USA — a subsidiary of Shanghai-based Greenland Group — successfully purchased the site from IDS Real Estate Group closing escrow on Jan 31, 2014 <href="#axzz2tY627ao2">for nearly $150 million</a>. Greenland Group is the largest diversified company in China with major real estate developments around the world including London, Seoul, Sydney and the massive forthcoming <a href="http://ny.curbed.com/archives/2013/12/16/atlantic_yards_wire.php">$4 billion Atlantic Yards project</a> in New York.</p>

<p>Work will begin shortly on the first phase of Metropolis, which includes two high-rise towers along 9th Street: a 19-story, 350-room Indigo boutique hotel and a 38-story residential tower (rentals or condos have not been determined yet). The trendy <a href="http://www.ihg.com/hotelindigo/hotels/us/en/reservation">Hotel Indigo</a>, part of Intercontinental Hotel Group (IHG), will be the first one in Los Angeles County (they’re also in Anaheim and San Diego). The hotel is slated to open on February 14, 2016, exactly two years from now.</p>

<p>The entire Metropolis project — with a total of four towers planned — is being designed by global architect firm Gensler. The second and final phase, which consists of two towers, will break ground at an unspecified time in the hopefully not-too-distant future. These two residential towers along 8th Street will rise to 50 and 60 stories giving the Metropolis project a skyline defining height.</p>

<p>Caveat: I’ve been told that these renderings below are preliminary conceptual models that are not finalized and will be refined.</p>

               <br />
               <br />
               <a href="/press.html" class="back">Back to all News</a>
</article>

            <article class="press-news-preview next">
               <div class="thumbnail box-img hover-animation">
                      <img class="img" src="../images/press/img/{{articles.posts.6.photo}}" alt="{{articles.posts.6.title}}" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="../press/{{articles.posts.6.id}}.html" title="{{articles.posts.6.title}}">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <a href="../press/{{articles.posts.6.id}}.html" class="link">Read next</a>
               <h2>{{articles.posts.6.author.source}}  —</h2>
               <h1><a href="../press/{{articles.posts.6.id}}.html">{{articles.posts.6.title}}</a></h1>
               <h3><time>{{articles.posts.6.fecha}}</time></h3>
               <p>{{articles.posts.6.short}}</p>
            </article>