---
title: Press
id: 2
---
<article class="press-news-content">
               <h2>{{articles.posts.6.author.source}} -</h2>
               <h1>{{articles.posts.6.title}}</h1>
               <h3>{{articles.posts.6.author.name}} <time>{{articles.posts.6.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.posts.6.photo}}" alt="{{articles.posts.6.title}}" />
               </div>
               <p>In 1987, City Centre Development unveiled an ambitious proposal to build three office towers, a 500-room hotel and 300,000 square feet of retail across eight parcels between South Park and the Financial District. The project was dubbed Metropolis and early renderings showed a cluster of gleaming buildings intended to turn the area into an employment hub.</p>

<p>Nearly 27 years and two developers later, a new iteration of the project is finally underway.</p>

<p>Shanghai-based Greenland Group broke ground today on Metropolis, which will rise on a 6.33-acre site spanning two blocks between the 110 Freeway and Francisco, Eighth and Ninth streets. It is Greenland’s first significant real estate deal in the United States.</p>

<p>“After 22 years of preparation and becoming a dominant leader in Chinese real estate, we think we’re qualified to diversify our market and step into key international markets, especially the U.S.,” said Greenland U.S. Holding Company CEO and President I Fei Chang in an interview in her Figueroa Street office four days before the groundbreaking.</p>

<p>The start of construction comes just two weeks after Greenland completed <a href="http://www.ladowntownnews.com/news/pending-deal-could-jumpstart-metropolis-megaproject/article_c7896626-fe17-11e2-a3e5-001a4bcf887a.html">the purchase from IDS Real Estate Group</a>, which had tried unsuccessfully for years to launch Metropolis. The first phase will create a 38-story apartment building with around 300 units and a 19-story hotel with 350 rooms, according to Chang. They will be a tied together by a public plaza.</p>

<p>The residential building will sit on a five-story parking and retail podium, while the hotel will feature a podium that mixes shopping with two levels of event space. It will also have two floors of subterranean parking.</p>

<p>The hotel will be a four-star establishment. Chang said Greenland is in talks with international brands it has already worked with, such as Intercontinental, Starwood and Marriott. </p>

<p>Renderings by architecture firm Gensler reveal a highly textured, elegantly jagged facade on the residential building and a sleeker skin on the hotel. Gensler Managing Principal Robert Jernigan said special attention is being paid to the site’s location and how to distinguish the buildings from the skyscrapers behind them. The project’s visibility from the freeway, and its placement in the “foreground” of the skyline, makes Metropolis a Downtown gateway, he said.</p>

<p>“With all the traffic on the 110 and with people coming from the Westside, we really thought about how the light from the setting sun would catch on the surfaces of the buildings, the notion that it would just sparkle and shimmer,” Jernigan said. “We wanted to create depth with shadows, especially in the residential building.”</p>

<p>The courtyard will connect the two towers’ retail and entertainment components. Chang hopes to see coffee shops, restaurants, gyms and other amenities geared toward both young professionals and empty nesters looking for an urban lifestyle. She said Greenland plans to make Francisco Street a pedestrian-focused corridor.</p>

<p>The first phase of the project will take about 30 months, said Jernigan. Greenland and Gensler declined to discuss details about future construction, but <a href="http://clkrep.lacity.org/onlinedocs/2014/14-0029_rpt_cla_1-24-14.pdf">a city memo indicates</a> that phase two would involve a mix of residential and commercial uses in three towers. The entire multi-phase development has been budgeted at $1 billion.</p>

<p><b>Coming to America</b></p>

<p>Greenland looked at several cities when considering where to make its United State development debut, Chang said, but the firm settled on Downtown Los Angeles partly because of the revitalization of the area. The company wants to be a <a href="http://www.ladowntownnews.com/news/for-downtown-more-money-some-problems/article_af0ea458-7a22-11e3-92e5-0019bb2963f4.html">force for growth in Downtown</a>, not serve as a “passive investor,” Chang said.</p>

<p>“Look, if you go to San Francisco for the first project, that is only a 10-mile by 10-mile city. You don’t have much space. Or New York, look at the prices and the overcrowding,” Chang said. “Here, you have such a renaissance and there’s room to grow.”</p>

<p>The groundbreaking of Metropolis is a pleasant surprise for John Vallance, who <a href="http://www.ladowntownnews.com/news/the-return-of-metropolis/article_96408535-0cb6-5a20-9d80-7ee9d15b3a3d.html">helped City Centre Development assemble the Metropolis site</a> and secure its entitlements in 1987. City Centre stuck with the project through several lawsuits, a lengthy permitting process and multiple recessions, including one in the early ’90s that hammered the local commercial real estate market. Replacing office towers with residential didn’t make sense at the time, Vallance said.</p>

<p>City Centre sold the project to IDS Real Estate Group in December 2005.</p>

<p>“When we sold the project we knew it was going to be a significant development for Downtown,” Vallance said. “We just didn’t see a light at the end of the tunnel for ourselves.”</p>

<p>Vallance is happy to see his efforts pay off, not only with regard to piecing together the Metropolis site, but also working with CalTrans and the city Department of Transportation on the creation of the Ninth Street off-ramp from the 110 Freeway. He also “marvels” at the growth in the southern portion of Downtown, noting that Greenland’s project will do much to propel the residential boom.</p>

<p>“There’s been a real push for residential like we had Downtown in the ’20s, ’30s and ’40s, rejuvenating something that was so critical to the whole city,” he said. “I worked in Downtown in the ’80s and it was not a destination. You couldn’t even find a restaurant to eat dinner.”</p>

<p>Greenland seemingly understands the sea change and its importance — it chose to stick with the ambitious plan of creating a community, rather than look for a smaller plot elsewhere.</p>
               <br />
               <br />
               <a href="/press.html" class="back">Back to all News</a>
</article>

            <article class="press-news-preview next">
               <div class="thumbnail">
                  <a href="../press/{{articles.posts.7.id}}.html" title="{{articles.posts.7.title}}" class="hover-animation">
                     <img class="img" src="../images/press/img/{{articles.posts.7.photo}}" alt="{{articles.posts.7.title}}" />
                     <div class="hover-content to-right">
                        <div>
                           <span>
                              <b>Read more —</b>
                           </span>
                        </div>
                   </div>
                  </a>
               </div>
               <a href="../press/{{articles.posts.7.id}}.html" class="link">Read next</a>
               <h2>{{articles.posts.7.author.source}}  —</h2>
               <h1><a href="../press/{{articles.posts.7.id}}.html">{{articles.posts.7.title}}</a></h1>
               <h3><time>{{articles.posts.7.fecha}}</time></h3>
               <p>{{articles.posts.7.short}}</p>
            </article>