---
title: Press
id: 2
---
<article class="press-news-content">
               <h2>{{articles.posts.9.author.source}} -</h2>
               <h1>{{articles.posts.9.title}}</h1>
               <h3>{{articles.posts.9.author.name}} <time>{{articles.posts.9.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.posts.9.photo}}" alt="{{articles.posts.9.title}}" />
               </div>
               <p>Forest City Ratner Cos.' giant, 6,400-unit development near the new Barclays Center in Brooklyn has faced delays for over a decade.
Enter China's Greenland Holding Group, which has different plans: finish the 15-tower project in less than 10 years. Forest City has only one tower under way and had been planning to take nearly two decades to complete the remaining buildings.
</p>
               <br />
               {{#if articles.posts.9.pdf.file}}<a href="{{articles.posts.9.pdf.file}}.html" class="link">Download PDF</a>{{/if}}
               <br />
               <a href="../press.html" class="back">Back to all News</a>
</article>

 <article class="press-news-preview next">
                <div class="thumbnail box-img hover-animation">
                      <img class="img" src="../images/press/img/{{articles.posts.10.photo}}" alt="{{articles.posts.10.title}}" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="../press/{{articles.posts.10.id}}.html" title="{{articles.posts.10.title}}">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <a href="../press/{{articles.posts.10.id}}.html" class="link">Read next</a>
               <h2>{{articles.posts.10.author.source}}  —</h2>
               <h1><a href="../press/{{articles.posts.10.id}}.html">{{articles.posts.10.title}}</a></h1>
               <h3><time>{{articles.posts.10.fecha}}</time></h3>
               <p>{{articles.posts.10.short}}</p>
            </article>