---
title: Press
id: 0
---
<article class="press-news-content">
               <h2>{{articles.internationals.15.author.source}} -</h2>
               <h1>{{articles.internationals.15.title}}</h1>
               <h3>{{articles.internationals.15.author.name}} <time>{{articles.internationals.15.fecha}}</time></h3>
 

<iframe width="100%" height="360" src="//www.youtube.com/embed/XPnQc9BVE5o" frameborder="0" allowfullscreen></iframe>

               <br />
               <br />
                <a href="../press-international.html" class="back">Back to all News</a>
</article>

            <article class="press-news-preview next">
               <div class="thumbnail box-img hover-animation">
                      <img class="img" src="../images/press/img/{{articles.internationals.16.photo}}" alt="{{articles.internationals.16.title}}" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="../press/int-{{articles.internationals.16.id}}.html" title="{{articles.internationals.16.title}}">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div> 

               <a href="../press/int-{{articles.internationals.16.id}}.html" class="link">Read next</a>
               <h2>{{articles.internationals.16.author.source}}  —</h2>
               <h1><a href="../press/int-{{articles.internationals.16.id}}.html">{{articles.internationals.16.title}}</a></h1>
               <h3><time>{{articles.internationals.16.fecha}}</time></h3>
               <p>{{articles.internationals.16.short}}</p>
            </article>