---
title: Press
id: 10
---
<article class="press-news-content">
               <h2>{{articles.internationals.10.author.source}} -</h2>
               <h1>{{articles.internationals.10.title}}</h1>
               <h3>{{articles.internationals.10.author.name}} <time>{{articles.internationals.10.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.10.photo}}" alt="{{articles.internationals.10.title}}" />
               </div>

<p>Shanghai-based Greenland Group unveiled new details of its 1-billion-U.S. dollar Metropolis Los Angeles project at a ground-breaking ceremony on Friday.</p>

<p>The 6.33-acre project, located on Francisco Street between 8th and 9th Streets, is the largest undeveloped site in Downtown Los Angeles's Central Business District.</p>

<p>The project, one of the largest mixed-use developments on the West Coast, is expected to reshape the Downtown Los Angeles urban landscape. Phase I of Metropolis will include a four-star luxury hotel and a residential tower with units ranging from studio to two bedrooms, which are expected to be complete by 2016.</p>

<p>"This 1-billion-dollar investment by Metropolis is one of the largest investment that we have seen in recent year at downtown," Vice Mayor Kelli Bernard said at the ceremony.</p>

<p>"It will bring not just business but jobs for our local residents. So we can boost wages here, it's going to be wonderful for the city and downtown and for our residents," she added.</p>

<p>Metropolis is the first real estate investment in the United States for Greenland Group, which is a diversified large state-owned enterprise in China with real estate as its core business.</p>

<p>"International expansion, in particular the U.S. market, is a strategic priority for us. We are making significant investments in the United States and as one of the iconic cities in the world, Los Angeles is important for us to be in," said Zhang Yuliang, chairman and president of Greenland Group.</p>

<p>Greenland, founded in 1992, is involved in construction projects in more than 80 cities in China as well as in seven countries - Australia, Germany, South Korea, Spain, Thailand, Britain and the United States.</p>


         <br />
        <br />
        <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.11.photo}}" alt="{{articles.internationals.11.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.11.id}}.html" title="{{articles.internationals.11.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.11.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.11.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.11.id}}.html">{{articles.internationals.11.title}}</a></h1>
        <h3><time>{{articles.internationals.11.fecha}}</time></h3>
        <p>{{articles.internationals.11.short}}</p>
      </article>