---
title: Press
id: 14
---
<article class="press-news-content">
               <h2>{{articles.internationals.14.author.source}} -</h2>
               <h1>{{articles.internationals.14.title}}</h1>
               <h3>{{articles.internationals.14.author.name}} <time>{{articles.internationals.14.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.14.photo}}" alt="{{articles.internationals.14.title}}" />
               </div>


<p>（1）绿地集团北美首个项目洛杉矶开工</p>

<p>2月14日，在美国城市洛杉矶，中国绿地集团董事长张玉良（中）和洛杉矶市副市长凯莉·贝纳德 （右二）等出席 “洛杉矶绿地中心” 城市综合体项目开工仪式。</p>

<p>当日，中国房地产巨头、世界500强企业绿地集团在洛杉矶总投资10亿美元的“洛杉矶绿地中心”城市综合体项目正式开工建设。作为绿地集团在北美市场的首个项目，“洛杉矶绿地中心”位于洛杉矶市中心核心区，连接洛杉矶金融区及会展区，项目总占地面积2．56万平方米，规划建筑面积15．32万平方米，规划建设包括三栋中高端公寓、一栋酒店及配套商业的大型城市综合体。</p>

<p>新华社记者张超群摄</p>


        <br />
        <br />
         <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.15.photo}}" alt="{{articles.internationals.15.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.15.id}}.html" title="{{articles.internationals.15.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.15.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.15.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.15.id}}.html">{{articles.internationals.15.title}}</a></h1>
        <h3><time>{{articles.internationals.15.fecha}}</time></h3>
        <p>{{articles.internationals.15.short}}</p>
      </article>