---
title: Press
id: 11
---
<article class="press-news-content">
               <h2>{{articles.internationals.11.author.source}} -</h2>
               <h1>{{articles.internationals.11.title}}</h1>
               <h3>{{articles.internationals.11.author.name}} <time>{{articles.internationals.11.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.11.photo}}" alt="{{articles.internationals.11.title}}" />
               </div>

<p>Shanghai-based Greenland Group unveiled new details of its $1 billion Metropolis Los Angeles project at a groundbreaking ceremony on Friday (US time). </p>

<p>The 6.33-acre project, located on Francisco Street between 8th and 9th Streets, is the largest undeveloped site in Downtown Los Angeles's Central Business District.</p>

<p>The project is expected to reshape the Downtown Los Angeles urban landscape. </p>

<p>Phase I of Metropolis will include a four-star luxury hotel and a residential tower with units ranging from studio to two bedrooms, expected to be complete by 2016.</p>

<p>"This $1 billion investment by Metropolis is one of the largest investments that we have seen in recent year at downtown," Vice Mayor Kelli Bernard said at the ceremony.</p>

<p>"It will bring not just business but jobs for our local residents. So we can boost wages here, it's going to be wonderful for the city and downtown and for our residents," she noted.</p>

<p>Metropolis is the first real estate investment in the US for Greenland Group, which is a diversified large State-owned enterprise in China with real estate as its core business.</p>

<p>"International expansion, in particular the US market, is a strategic priority for us. We are making significant investments in the United States and as one of the iconic cities in the world, Los Angeles is important for us to be in," said Zhang Yuliang, chairman and president of Greenland Group.</p>


        <br />
        <br />
        <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.12.photo}}" alt="{{articles.internationals.12.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.12.id}}.html" title="{{articles.internationals.12.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.12.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.12.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.12.id}}.html">{{articles.internationals.12.title}}</a></h1>
        <h3><time>{{articles.internationals.12.fecha}}</time></h3>
        <p>{{articles.internationals.12.short}}</p>
      </article>