---
title: Press
id: 0
---
<article class="press-news-content">
               <h2>{{articles.internationals.6.author.source}} -</h2>
               <h1>{{articles.internationals.6.title}}</h1>
               <h3>{{articles.internationals.6.author.name}} <time>{{articles.internationals.6.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.6.photo}}" alt="{{articles.internationals.6.title}}" />
               </div>


               <br />
               <br />
               <a href="../press.html" class="back">Back to all News</a>
</article>