---
title: Press
id: 9
---
<article class="press-news-content">
               <h2>{{articles.internationals.7.author.source}} -</h2>
               <h1>{{articles.internationals.7.title}}</h1>
               <h3>{{articles.internationals.7.author.name}} <time>{{articles.internationals.7.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.7.photo}}" alt="{{articles.internationals.7.title}}" />
               </div>


<p>總部在上海的中國500強企業綠地集團(Greenland Group)進軍北美的首個投資項目，位於洛杉磯市中心商業區8街和9街間的法蘭西斯柯街(Francisco St.)的土地開發案，14日在鑼鼓喧天舞獅的熱鬧氣氛下舉行開工儀式。該開發案占地6.33英畝、投資額高達10億美元，包括高檔酒店及住宅公寓的第一階段工程預計2016年中完工。</p>

<p>綠地集團董事長暨總裁張玉良、美國子公司「綠地美國控股公司」總裁張伊琲、中國駐洛杉磯總領館商務參贊劉海彥、洛杉磯市副市長伯納德(Kelli Bernard )、市議員維薩爾(Jose Huizar)、「洛杉磯區商會」會長投本(Gary L. Toebben)、「洛杉磯市中心商業改進區」執行總裁夏茲(Carol Schatz)等賓客參加開工儀式。</p>

<p>張玉良以感性語氣開場，指出「在情人節美好的日子，我們在此相遇」，感謝洛杉磯市及中領館協助該項開發案。提及綠地集團是「財富全球500大公司」，也是中國地產龍頭，在提供高品質住宅及商業用建築物享有盛譽。綠地集團目前向美國、英國、澳洲等地進一步加快投資，引起主流媒體熱情關注。綠地集團以美國是全球經濟及金融中心，洛杉磯是北美與亞洲的門戶，為美國第二大城、最大海港及西海岸最大工業中心，經濟發展穩健，並為華人移民主要聚居地，因此遴選為海外投資重點城市。</p>

<p>張伊琲則說，綠地集團有經驗及專業能力，能協助帶動洛市中心商業區正在成長的生機蓬勃的都市生活。</p>

<p>伯納德當天代表洛市市長賈西提歡迎綠地在洛市投資，指出該項開發案不僅加強洛市經濟，並創造許多工作機會。</p>

<p>維薩爾則說，當天是「情人節」也是中國「元宵節」，是個難得、又有特別意義的節日，很高興綠地來洛市投資。該項投資並傳遞明確訊息，即洛市中心商業區歡迎各行各業前來投資，尤其是像綠地一樣的國際性公司，將替振興市中心帶來所需的資金。</p>

<p>該項開發工程命名為「大都會項目(Metropolis)」，共分兩階段興建，預計在五年內興建一家酒店、辦公室樓宇及三棟公寓套房。第一階段開發案包括興建19樓的四星級酒店及38樓高的住宅公寓。張玉良說，開發案的設計是由綠地主導，由美方合作的公司負責執行。</p>

<p>該開發案位置優越，可望連接洛杉磯金融區及會展區，並靠近湖人隊主場「史鐵波中心」(Staples Center)，及葛萊美獎頒獎典禮所在的諾基亞中心(Nokia Theatre)等娛樂及藝術中心。</p>


<img src="" alt="">
<p>綠地集團進軍北美的首個投資項目14日舉行熱鬧開工儀式，董事長暨總裁張玉良（前右）及美國子公司「綠地美國控股公司」總裁張伊琲</p>
<img src="" alt="">
<p>綠地集團進軍北美的首個投資項目14日舉行熱鬧開工儀式，希望取得好采頭。(記者王善言／攝影)</p>
<img src="" alt="">
<p>綠地集團14日舉行開工儀式，洛杉磯區商會會長投本(右起)、洛杉磯市副市長伯納德、綠地集團董事長暨總裁張玉良、洛市議員維薩爾、洛杉磯市中心商業改進區執行總裁夏茲，及綠地美國控股公司總裁張伊琲舉行開工儀式”(記者王善言／攝影)</p>
<img src="" alt="">
<p>綠地集團在洛杉磯市中心商業區的開發案「大都會項目」未來成形的模型。(記者王善言／攝影)</p>
<img src="" alt="">
<p>綠地洛城開發案原來是個停車場，目前已被圍起來準備施工。(記者王善言／攝影)</p>
         <br />
        <br />
        <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.8.photo}}" alt="{{articles.internationals.8.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.8.id}}.html" title="{{articles.internationals.8.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.8.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.8.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.8.id}}.html">{{articles.internationals.8.title}}</a></h1>
        <h3><time>{{articles.internationals.8.fecha}}</time></h3>
        <p>{{articles.internationals.8.short}}</p>
      </article>