---
title: Press
id: 10
---
<article class="press-news-content">
               <h2>{{articles.internationals.10.author.source}} -</h2>
               <h1>{{articles.internationals.10.title}}</h1>
               <h3>{{articles.internationals.10.author.name}} <time>{{articles.internationals.10.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.10.photo}}" alt="{{articles.internationals.10.title}}" />
               </div>


<p>本报洛杉矶今日电（驻美记者 徐东海）中国房地产企业进军北美的步伐明显加快，总投资达10亿美元的洛杉矶绿地中心14日正式开工建设，这是来自上海的中国著名房地产企业绿地集团登陆北美的首个项目。</p>

<p>此次启动的洛杉矶绿地城项目区位优越，位于洛杉矶市中心核心区旧金山街与第八大街之间，连接金融区及会展区，毗邻洛杉矶湖人队主场斯台普斯球馆和格莱美奖颁奖典礼所在的诺基亚中心，与市中心最高档酒店及酒店式公寓丽兹卡尔顿酒店为邻。项目占地面积2.56万平方米，规划建筑面积15.32万平方米，规划建设三栋中高端公寓、一栋酒店及配套商业，总投资将达10亿美元。</p>

<p>绿地集团董事长、总裁张玉良在接受记者采访时表示：“拓展国际市场，尤其是进军美国房地产市场，是绿地集团未来的一个战略方向，也是绿地迈向国际化企业的必经之路。”洛杉矶市长贾西提在贺词中说：“欢迎绿地来到洛杉矶，这是洛杉矶中心城区近几年最大的一笔投资，将为振兴整个社区注入活力。”</p>

<p>绿地洛杉矶项目的正式启动，标志着绿地集团新年新一轮海外开发的全面启动。张玉良透露，下半年绿地在纽约布鲁克林中心区的综合体建设也将动工，预计投资高达50亿美元。</p>

<p>据悉，绿地今年在美国纽约、英国伦敦及泰国等地的海外项目都将相继投入建设及销售，大规模滚动开发全面启动。“绿地将牢牢立足境内、境外两大市场，真正在世界范围内配置资源、参与竞争，加快打造成为‘世界的绿地’。”张玉良说。</p>

<p>根据绿地集团提供的数据，该公司在2010年世界财富500强排行榜中排名第359位，在中国财富500强中排名第55位，在中国房地产企业中排名第一。该公司已建成或在建的23座摩天大楼中，有4座名列全球最高建筑前10名。</p>


        <br />
        <br />
        <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.11.photo}}" alt="{{articles.internationals.11.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.11.id}}.html" title="{{articles.internationals.11.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.11.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.11.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.11.id}}.html">{{articles.internationals.11.title}}</a></h1>
        <h3><time>{{articles.internationals.11.fecha}}</time></h3>
        <p>{{articles.internationals.11.short}}</p>
      </article>