---
title: Press
id: 8
---
<article class="press-news-content">
               <h2>{{articles.internationals.6.author.source}} -</h2>
               <h1>{{articles.internationals.6.title}}</h1>
               <h3>{{articles.internationals.6.author.name}} <time>{{articles.internationals.6.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.6.photo}}" alt="{{articles.internationals.6.title}}" />
               </div>


<p>
    上海綠地集團在洛杉磯市中心商業區高達10億美元的土地投資開發按，引起主流社區熱議。針對「加州佬是否應擔心太多中國資金前來加州購買房地產」提問，綠地集團董事長暨總裁張玉良14日說，中國經過30多年改革開放後，老百姓消費能力大增，有能力前往全國各地消費，因此中國成長對全球各地也是好事。
</p>
<p>
    他以綠地集團在洛市投資案為例說，該案是住宅及商業綜合性用途開發按，除發揮自己的力量，還會與全球頂尖公司合作，與洛市一起成長，並帶來其他合作企業，如在洛市興建的酒店即已與歐洲公司簽約合作經營。張玉良當天是在開工儀式後，於「綠地美國公司」辦公室接受華洋媒體同步採訪，在每位媒體只能提出一個問題下，彭博新聞社記者吉投森
    (John Gittelsohn) 提出前述問題，請詢問張玉良在洛市著手的土地開發案，是否有意針對華人消費者。
</p>
<p>
    張玉良說，該開發案是面對包括華人在內的全球消費者，他指出洛市擁有包容文化，是個很棒的城市，包括他在內的許多華人都喜歡洛市。他透過該項投資感受到洛市會議有很好的行政效率，洛市則擁有很好的商務環境，對投資洛市很有信心。
</p>
<p>
    針對本報「日本投資客1980年代前來洛市收購旅館及商業不動產，之後卻因日本經濟泡沫化紛紛退出洛市。目前則看到中資企業紛紛進場，但中國經濟成長已漸趨緩，若生變，中國人在本地投資是否可能重蹈日本覆轍」提問，張玉良說，他對這個假設性提問的看法較樂觀，因為目前情形與1980年代不同。
</p>
<p>
    他的理由是：目前全球經濟仍保持良好成長，雖然一度有金融危機，但現下美國及歐洲經濟發展都在向上，支撐中國企業在這些地區的投資。而目前各種資源價格與經濟發展吻合，中國企業經過多年發展，也已建立品牌、專業能力及競爭力。
</p>
<p>
    張玉良說，中國經濟雖然整體放緩，仍處於中位數字成長，足以做為中國大企業後盾。而隨著中國人愈來愈富裕，紛紛前往海外旅遊及求學等，中國企業在美國的住宅開發案，對他們更有號召力，可望取得先機。
</p>
<p>
    不過他在回答「洛市投資案面臨的最大挑戰」提問時說，任何投資都有風險，如該項投資就須對美國政策及法令有更多瞭解及適應。但他很有信心地說，綠地集團不論是團隊競爭力、建築水瓶、功能使用設計，都達到國際水平，未來將發揮過去經驗的優勢，與國際接軌的管理水平，及產品更具人性化的設計等條件，深入美國市場競爭。
</p>

        <br />
        <br />
         <a href="../press-international.html" class="back">Back to all News</a>
</article>

      <article class="press-news-preview next">
        <div class="thumbnail box-img hover-animation">
           <img class="img" src="../images/press/img/{{articles.internationals.7.photo}}" alt="{{articles.internationals.7.title}}" />
          <div class="hover-content to-right">
           <div>
             <span><i> 
              <a href="../press/int-{{articles.internationals.7.id}}.html" title="{{articles.internationals.7.title}}">Read more -</a>
            </i></span>
           </div>
          </div>
        </div> 

        <a href="../press/int-{{articles.internationals.7.id}}.html" class="link">Read next</a>
        <h2>{{articles.internationals.7.author.source}} —</h2>
        <h1><a href="../press/int-{{articles.internationals.7.id}}.html">{{articles.internationals.7.title}}</a></h1>
        <h3><time>{{articles.internationals.7.fecha}}</time></h3>
        <p>{{articles.internationals.7.short}}</p>
      </article>