---
title: Press
id: 0
---
<article class="press-news-content">
               <h2>{{articles.internationals.0.author.source}} -</h2>
               <h1>{{articles.internationals.0.title}}</h1>
               <h3>{{articles.internationals.0.author.name}} <time>{{articles.internationals.0.fecha}}</time></h3>
               <div class="press-image-related">
                  <img class="img" src="../images/press/img/{{articles.internationals.0.photo}}" alt="{{articles.internationals.0.title}}" />
               </div>
【侨报记者周慧一2月14日洛杉矶报道】中国地产开发与运营的龙头企业绿地集团，2月14日宣布其在洛杉矶市中心的大都会投资项目一期工程正式动工，这象征着绿地集团正式进军美国房地产业。集团总裁张玉良表示，目前是一个进军美国的非常好的时机，在美国的投资将继续保持绿地集团开发与商业运营并重的传统，而广阔的中国市场也使中国房地产开发商在国际上更加具有竞争力。
张玉良在接受媒体采访时表示，参与国际市场的竞争，是所有中国企业做大、做强的必经之路。在他看来，目前国际经济发展势头良好，资源价格合理，绿地集团的实力与能力及良好的外部环境证明目前是一个非常好的走出来的时机。
据悉，大都会项目的整体设计、开发、建造及运营都将有绿地集团全程负责。张玉良表示，商业运营与开发同样重要，目前绿地集团在国内的住宅的开发已经降到了总量的50%，洛杉矶的项目也是一样，除了传统的公寓之外，绿地集团将很多比重放在了如商店、酒店、租赁式的酒店公寓等。在洛杉矶的项目会继续与全球最顶尖的运行商合作，企业的发展要与合作伙伴、地区共同成长。
谈及上世纪日本房地产商在美国投资的失败案例，张玉良表示，目前面临的情况与当年有很多不同，他个人对目前的投资形式还是比较乐观的。张玉良说，目前全球经济还是在保持着比较好的成长过程之中，虽然经历了金融危机的打击，但是目前美国和欧洲的市场都处于上升状态，这种上升为绿地提供了进一步扩大市场的契机。同时，与上世纪相比，今天的资源价格与整个经济发展情况是吻合的。这么多年来，中国的大企业经历了长期的锻炼、发展和成长，提高了自身的品牌号召力和竞争力，具备了在全球发展的硬性条件。虽然近年来中国经济增长整体放缓 但是仍然在增长，这种中位增长足够支持中国的大企业继续做大，作为强大的后盾，支持企业健康地发展。而且这些年来，中国人有钱了，越来越多的中国人有条件出国旅游，或是送孩子到国外留学，这些市场对于中国企业来说，使中国企业更加具有市场号召力，中国市场是全球市场的一大部分，这是我们的优势，让我们在国际市场上更有竞争力。
张玉良说，虽然前景乐观，但是任何投资项目都是有风险的，因此目前最重要的是风险是否可控。从目前的情况来看，由于我们刚刚才进入到美国市场，两国政策、法律及市场环境都有所不同，因此需要一个了解和适应的过程。其次，我们不是只是投资，我们还需要培养成功的运营及管理团队，提高团队的协作和竞争能力。
（编辑：妮娜）


               <br />
               <br />
               <a href="../press.html" class="back">Back to all News</a>
</article>

            <article class="press-news-preview next">
               <div class="thumbnail box-img hover-animation">
                      <img class="img" src="../images/press/img/{{articles.internationals.1.photo}}" alt="{{articles.internationals.1.title}}" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="../press/{{articles.internationals.1.id}}.html" title="{{articles.internationals.1.title}}">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div> 

               <a href="../press/{{articles.internationals.1.id}}.html" class="link">Read next</a>
               <h2>{{articles.internationals.1.author.source}}  —</h2>
               <h1><a href="../press/{{articles.internationals.1.id}}.html">{{articles.internationals.1.title}}</a></h1>
               <h3><time>{{articles.internationals.1.fecha}}</time></h3>
               <p>{{articles.internationals.1.short}}</p>
            </article>